
/* Login Page*/


.Box
{
	position: absolute;
	top: 45%;
	left: 70%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;

}

.Box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.Box.inputBox
{
		position: absolute;

}
.Box .inputBox input
{
	width: 100%;
	padding: 15px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.Box .inputBox label{
	position: absolute;
	top: 1;
	left: 0;
	color: #03a9f4;	
	padding: 1px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transform: .5s;

}

.Box .inputBox input:focus ~ label,
.Box .inputBox input:valid ~ label
{

	left: 0;
	color: #03a9f4;
	font-size: 12px;
}


/* Profile Page*/

.proimg
{

}